body {
    background-color:#faf1e6;
        font-family: 'Dancing Script', cursive;
}



.heading {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    height: 90vh;
    background-size: cover;
    background-position: center;
    flex: 1;
    margin: 5px;
    position: relative;
}

.one {
    background-image: url(./img/1-210614-222404.jpeg);
}

.two {
    background-image: url(./img/2-210614-22240.jpeg);
}

.three {
    background-image: url(./img/3-210614-2224.jpeg);
}

.four {
    background-image: url(./img/4-2106222404.jpeg);

}

.five {
    background-image: url(./img/5-210614-222404.jpeg);
}

.six {
    background-image: url(./img/6-210614-222404.jpeg);
}

h4 {
position: absolute;
top: 15px;
left: 40px;
background-color: white;
color: black;
opacity: 0;
}

.par {
    position: absolute;
    top: 100px;
    left: 40px;
    background-color: #fff;
    color: black;
    opacity: 0;
}

.price {
    position: absolute;
    bottom: 40px;
    left: 40px;
    background-color: #fff;
    color: black;
    font-size: 40px;
    opacity: 0;
}

.selected {
    flex: 4;
    transition:  4s ease;
    border-radius: 10px;
}

.selected h4 {
    font-size: 40px;
    transition: all 1s ease-in;
    opacity: 1;
}

.selected .par {
    font-size: 20px;
    transition: all 1s ease-in;
    opacity: 1;
}

.selected .price {
    font-size: 35px;
    transition: all 1s ease-in;
    opacity: 1;
}

label {
    font-size: 30px;
}

.text-input {
    background-color: #faf1e6;
    border: none;
    padding: 12px 20px;
}

.btn {
    font-size: 30px;
    background-color: #00adb5;
    flex: 1;
    font-family: 'Dancing Script', cursive;
}

.blockTwo {
    justify-content: space-around;
    margin-top: 25px;
}

.blockTwoDiv {
    background-color: 00adb5;
}

.hBlockTwo {
    background-color: 00adb5;
    font-size: 40px;
}
 p {
    background-color: 00adb5;
    font-size: 25px;
 }
.reviems {
    width: 250px;
    height: 150px;
    background-color: #faf1e6;
}
.wishes {
    display: flex;
}

.photo {
    width: 250px;
    height: 250px;
}

a {
    color: black;
}

.next {
    border-style: none;
    border-radius: 5px;
}

.back {
    border-style: none;
    border-radius: 5px;
}

.btnClick {
    border-radius: 50%;
    padding: 10px;
}

.containerTimer {
    display: flex;
    justify-content: center;
    gap: 15px
}

.blockTime {
    background-color: rgba(251, 248, 249, 0.82);
    height: 300px; 
    width: 200px;
    margin-top: 50px;
    border: 3px solid black;
}

.blockMini {
    display: flex;
    flex-direction: column;
    align-items: center;
}


h3 {
    font-size: 30px;
}

.days, .hours, .minute, .second {
    font-size: 30px;
}



@media all and (max-width: 500px) {
    h1 {
        font-size: 40px;
    }
    .container {
        flex-direction: column; 
    }
    .item {
        min-height: 20vh;
        transition: 1s;
        position: relative;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .selected h4 {
        font-size: 25px;
    }
    .selected .price {
        font-size: 20px;
    }
    .selected {
        min-height: 60vh;

    }
    .blockTwo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 25px;
    }
     .blockText {
        font-size: 20px;
    }
    .btnClick {
        font-size: 25px;
        padding: 5px;
    }
    h4, .par, .price {
        position: static;   
        background-color: rgba(255,255,255,0.7);
        margin-bottom: 10px;
        padding: 5px 10px;
        border-radius: 4px;
    }
}