body {
    background-color:#faf1e6;
        font-family: 'Dancing Script', cursive;
}



.heading {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    height: 90vh;
    background-size: cover;
    background-position: center;
    flex: 1;
    margin: 5px;
    position: relative;
}

.one {
    background-image: url(./img/1-210614-222404.jpeg);
}

.two {
    background-image: url(./img/2-210614-22240.jpeg);
}

.three {
    background-image: url(./img/3-210614-2224.jpeg);
}

.four {
    background-image: url(./img/4-2106222404.jpeg);

}

.five {
    background-image: url(./img/5-210614-222404.jpeg);
}

.six {
    background-image: url(./img/6-210614-222404.jpeg);
}

h4 {
position: absolute;
top: 15px;
left: 40px;
background-color: white;
color: black;
opacity: 0;
}

.par {
    position: absolute;
    top: 100px;
    left: 40px;
    background-color: #fff;
    color: black;
    opacity: 0;
}

.price {
    position: absolute;
    bottom: 40px;
    left: 40px;
    background-color: #fff;
    color: black;
    font-size: 40px;
    opacity: 0;
}

.selected {
    flex: 4;
    transition:  4s ease;
    border-radius: 10px;
}

.selected h4 {
    font-size: 40px;
    transition: all 1s ease-in;
    opacity: 1;
}

.selected .par {
    font-size: 20px;
    transition: all 1s ease-in;
    opacity: 1;
}

.selected .price {
    font-size: 35px;
    transition: all 1s ease-in;
    opacity: 1;
}

label {
    font-size: 30px;
}

.text-input {
    background-color: #faf1e6;
    border: none;
    padding: 12px 20px;
}

.btn {
    font-size: 30px;
    background-color: #00adb5;
    flex: 1;
}

@media all and (max-width: 500px) {
    h1 {
        font-size: 40px;
    }
    .container {
        flex-direction: column; 
    }
    .item {
        height: auto;
        min-height: 300px;
    }
    .selected h4 {
        font-size: 30px;
    }
    .selected .price {
        font-size: 25px;
    }
    .selected {
        flex: 6;
    }
}